.container
  if (error)
    each message in error
      .alert.alert-danger
        button.close(type='button', data-dismiss='alert') &times;
        p= message

  if (warn)
    each message in warn
      .alert.alert-warning
        button.close(type='button', data-dismiss='alert') &times;
        p= message

  if (info)
    each message in info
      .alert.alert-info
        button.close(type='button', data-dismiss='alert') &times;
        p= message

  if (log)
    each message in log
      .alert.alert-success
        button.close(type='button', data-dismiss='alert') &times;
        p= message
