extends ../layout

block content
  .container
    .row
      #chart.col-xs-9
      #legend.col-xs-3
  .spacer30
  .container
    .col-sm-4
      .input-group
        .input-group-btn
          button#step-backward.btn.btn-info(type='button')
            i.glyphicon.glyphicon-step-backward
        input#step-no.form-control(type='text', value='0')
        .input-group-btn
          button#play.btn.btn-info(type='button')
            i.glyphicon.glyphicon-play
          button#step-forward.btn.btn-info(type='button')
            i.glyphicon.glyphicon-step-forward

append js
  script(src='/js/d3.v3.min.js')
  script(src='/js/render-graph.js')
